@import url(../css/base/button.css);
@import url(../css/base/combobox.css);
@import url(../css/base/input.css);
@import url(../css/base/dialog.css);
@import url(../css/base/tooltip.css);
@import url(../css/base/icon.css);
@import url(../css/base/popup.css);
@import url(../css/base/table.css);
@import url(../css/base/toast-message.css);
@import url(../css/base/noti.css);
@import url(../css/base/color.css);
@import url(../css/base/font.css);

@import url(../css/layout/container.css);
@import url(../css/layout/header.css);
@import url(../css/layout/sidebar.css);
@import url(../css/layout/content.css);
*{
    box-sizing: border-box;
}
body {
    font-family: MISA Fonts;
    margin: 0;
}



