@import url(../css/base/button.css);
@import url(../css/base/combobox.css);
@import url(../css/base/dialog.css);
@import url(../css/base/icon.css);
@import url(../css/base/input.css);
@import url(../css/base/popup.css);
@import url(../css/base/table.css);
@import url(../css/base/toast-message.css);
@import url(../css/base/tooltip.css);
@import url(../css/base/noti.css);
*{
    box-sizing: border-box;
}
body {
    font-family: MISA Fonts;
    margin: 20px;
}

@font-face {
    font-family: MISA Fonts;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: MISA FontsBold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}


@font-face {
    font-family: MISA FontsItalic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}





