.dialog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.164);
    z-index: 1000;
}
.dialog-container{
    min-width: 400px;
    padding: 32px 32px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.363);
}
/* header */
.dialog__header, .dialog__header__icon{
    display: flex;
}
.dialog__header__checkbox{
    align-self: center;
    flex: 1;
}
.dialog__header__checkbox .col{
    margin-left: 10px;
    display: inline-block;
}
.dialog__header__icon{
    position: absolute;
    right: 24px;
    top: 24px;
}
/* body */
.asterisk-red{
    color: #E60000;
}
.col-container{
    position: relative;
}
.message{  /* 11:00 */
    font-size: 10px;
    white-space: nowrap;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    /* text-overflow: ellipsis; */
}
.message-error{
    color: #E60000;
}
.dialog__body__part1{
    display: flex;
    margin-top: 8px;
    margin-bottom: 32px;
}
.dialog__body__part2{
    margin-bottom: 50px;
}
.part__rows{
    display: flex;
    margin-top: 22px;
}
.part__row{
    min-width: 500px;
    margin-top: 22px;
}
#halfpart1{
    padding-right: 12px;
}
.halfpart + .halfpart{
    padding-left: 12px;
}
.col{
    padding-right: 3px;
    flex: 1;
}
.col-40{
    flex-basis: 40%;
}
.col-60{
    flex-basis: 60%;
}
.col + .col{
    padding-left: 3px;
    
}
.radio-button{
    display: flex;
    margin-top: 14px;
}
.w-75{
    width: 74%;
}

/* footer */
.dialog__footer{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    border-top: 1px solid #E0E0E0;
}
.footer__right{
    display: flex;
}
.header__icon .fas, .header__icon .far{
    font-size: 24px;
    margin-left: 8px;
    cursor: pointer;
}