.noti{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.164);
    z-index: 3;
}
.noti-container{
    min-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.363);
    width: 416px;
    height: 183px;
    padding: 32px;
}

.noti__main{
    display: flex;
}
.noti__main{
    margin-bottom: 24px;
   align-items: center;
}
.noti__icon{
    align-self: center;
    /* flex-basis: 18%; */
    min-width: 40px;
}
.noti__icon-warning{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 36px;
	height: 37px;
}
.noti__icon-error{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -752px -462px;
	width: 36px;
	height: 36px;
}
.noti__icon-confirm{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -832px -462px;
	width: 36px;
	height: 36px;
}
.noti__icon-information{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -672px -462px;
	width: 36px;
	height: 36px;
}
.noti__content{
    padding-left: 16px;
    flex: 1;
}
.noti__footer{
    border-top: 1px solid #E0E0E0;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}
.noti__footer__right .btn + .btn{
    margin-left: 8px;
}
