.toast-messager {
    height: 56px;
    min-width: 500px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    
    border-radius: 4px;
    position: fixed;
    top: 24px;
    right: 24px;
}
.toast-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toast__left, .toast__right{
    display: flex;
}
.toast__header{
    margin: 16px 0 16px 16px;
}
.toast__content {
    flex-basis: 100%;
    line-height: 48px;
    padding-left: 8px;
}
.content__status{
    
}
.toast__undo{
    font-weight: 600;
}
.toast__footer {
    font-size: 24px;
    cursor: pointer;
    align-self: center;
    margin: 0 16px;
}

.error {
    color: #ffcece;
}
.warning {
    color: #ffe7af;
}
.success {
    color: #baffe7;
}
.info {
    color: #d8eaff;
}
