.tooltip {
    position: relative;
}
  
.tooltiptext {
    position: absolute;
    visibility: hidden;
    text-align: center;
    line-height: 13px;
    border-radius: 4px;
    z-index: 1;
    font-size: 13px;
    padding: 5px 10px;
    bottom: 150%;
    transform: translateX(-30%);

}
  .tooltiptext-normal{
    background-color: #616161;
    color: #fff;
  }
  .tooltiptext-error{
    background-color: #DE3618;
    color: #fff;
  }
  .tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    margin-top: -1px;
  }
  .tooltip .tooltiptext-normal::after {
    border-color: #616161 transparent transparent  transparent ;
  }
  .tooltip .tooltiptext-error::after {
    border-color: #DE3618 transparent transparent  transparent ;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  