.content{
    background-color: #EEEEEE;
    padding: 24px;
    width: calc(100% - 200px);
}
.content-container{
    height: 100%;
}
.content__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;    
}
.content__main{
    position: relative;
    background-color: #FFF;
    height: calc(100% - 48px);
    padding: 24px 24px 0 24px;
}
/* header */
.content__feature{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: -6px -6px 24px 0;
}
.content__feature input:hover{
    outline: 1px solid #E0E0E0;
}
.content__feature-reload{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -493px -31px;
	width: 22px;
	height: 24px;
    margin-left: 20px;
}

.content__feature-reload:hover{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -1024px -29px;
	width: 22px;
	height: 24px;
    margin-left: 20px;
    cursor: pointer;
}

/* table */
.table-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 56px);
}
.table-footer table{
    min-width: 1600px;
}
.content__table{
    width: 100%;
    max-height: calc(100vh - 276px);
    overflow-y: auto;
    
}
.content__table .feature{
    text-align: center;
    position: relative;
}
.content__table .feature span{
    margin-right: 20px;    
    font-weight: 600;
    color: #3395FF;
}
.content__table .icon{
    position: absolute;
    transform: translate(50%,-50%);
    top: 50%;
    right: 25%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.content__table .icon-dropdown{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -371px -364px;
	width: 10px;
	height: 8px;
    border: none;
    padding: 7px 5px;
    transform: translateY(4px);
    
}
.icon:focus{
    border: 1px solid #3395FF;
}
/* dropdown list */
.dropdown-list{
    position: absolute;
    right: 20%;
    top: 75%;
    border: 1px solid #bbbbbb;
    width: 120px;
    background-color: #fff;
    z-index: 1;
}
.dropdown-list__choose{
    height: 36px;
    line-height: 36px;
    text-align: left;
    padding: 0 14px;
}
.dropdown-list__choose:hover{
    background-color: #F5F5F5;
    color: #50b83c;
    cursor: pointer;
}
/* footer */
.content__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__footer__right{
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
}
.page__numbers{
    padding: 0 7px;
}
.page__btn{
    margin: 0 15px;
}
.page__numbers-active{
    border: 1px solid #bbbbbb;
}